.icon {
  display: inline-block;
  background-repeat: no-repeat;
  background-position: center;
}

.icon-small {
  width: 20px;
  height: 20px;
}

.icon-medium {
  width: 32px;
  height: 32px;
}

.icon-location {
  width: 15px;
  height: 18px;
  background-image: url('/src/assets/images/icons/icon-location.svg');
}

.icon-drop-down {
  width: 7px;
  height: 4px;
  background-image: url('/src/assets/images/icons/icon-drop-down.svg');
}

.icon-logo {
  background-image: url('/src/assets/images/header/logo.png');
}

.icon-heart {
  width: 32px;
  height: 32px;
  background-image: url('/src/assets/images/icons/icon-heart.svg');
}

.icon-cart {
  background-image: url('/src/assets/images/icons/icon-cart.svg');
}

.icon-search {
  width: 20px;
  height: 20px;
  background-image: url('/src/assets/images/icons/icon-search.svg');
}

.icon-phone {
  width: 28px;
  height: 28px;
  background-image: url('/src/assets/images/icons/icon-phone.svg');
}

.icon-home {
  width: 24px;
  height: 24px;
  background-image: url('/src/assets/images/icons/icon-home.svg');
}

.icon-circle {
  width: 18px;
  height: 18px;
}

.icon-vertical {
  width: 24px;
}

.icon-circle {
  position: absolute;
  left: 24px;
  bottom: 27px;
  background: var(--color-green);
  padding: 2px;
  border-radius: 11px;
  text-align: center;
  color: var(--color-white);
}

.icon-filter {
  width: 20px;
  height: 17px;
  background-image: url('/src/assets/images/icons/icon-filter.svg');
}

.icon-bag {
  width: 20px;
  height: 20px;
  background-image: url('/src/assets/images/icons/icon-bag.svg');
}

.icon-top {
  width: 12px;
  height: 6px;
  background-image: url('/src/assets/images/icons/icon-top.svg');
}
