.total-result {
  font-weight: var(--font-weight-semibold);
}

.block-item {
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}

.heading-secondary-mb {
  margin-bottom: 20px;
  width: 141px
}

.dropdown {
  display: flex;
  align-items: center;
  gap: 8px;
}

.dropdown-toggle {
  width: 166px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 16px;
}

.rdo-category {
  width: 20px;
  height: 20px;
  border-radius: 32px;
}

.wrapper-products {
  padding: 32px 0;
}

.block-product {
  border: 1px solid var(--color-mercury);
  border-radius: 8px;
}

.card-block {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 24px;
}

.container-product {
  display: flex;
  padding: 0 181px;
  margin-right: 24px;
  margin-top: 24px;
}

.block-category {
  flex-direction: column;
  flex: 0 0 25%;
  display: flex;
}

.category-top {
  display: flex;
  gap: 159px;
}

.product-name {
  color: var(--color-tundora);
  font-size: 14px;
  font-weight: var(--font-weight-regular);
  line-height: 21px;
}

.product-price {
  color: var(--color-cod-gray);
  font-weight: var(--font-weight-medium);
  font-size: 16px;
  line-height: 24px;
}

.border-circle {
  padding: 10px 10px;
  background-color: var(--color-concrete);
  border-radius: 50px;
}

.rounded {
  background-color: var(--color-white);
  padding: 20px 20px;
  border-radius: 50px;
  color: var(--color-dove-gray);
}

.block-pagination {
  display: flex;
  justify-content: center;
  align-items: center;
}

.message-empty {
  display: none;
}
