<section>
  <div class="flex-col">
    <div class="flex justify-content-arround align-center">
      <button class="btn btn-filter">
        Filter <span class="icon icon-filter"></span></button>
      <div class="dropdown">Sort by:
        <button type="button" class="dropdown-toggle">Latest<span class="icon icon-drop-down">
          </span></button>
        <!-- <div class="dropdown-menu">
      <a href="#">Early</a>
      <a href="#">Latest</a>
    </div> -->
      </div>
      <div class="block-result">
        <span class="total-result">52</span> Results Found
      </div>
    </div>
    <aside>
      <div class="flex-col">
        <h2 class="heading-secondary heading-secondary-mb">All Categories</h2>
        <div class="block-item">
          <input type="radio" class="rdo-category"><label for="category-1"> Fresh Fruit</label>
          <span>(25)</span>
        </div>
        <div class="block-item">
          <input type="radio" class="rdo-category"><label for="category-1">Vegetables</label>
          <span>(150)</span>
        </div>
        <div class="block-item">
          <input type="radio" class="rdo-category"><label for="category-1">Cooking</label>
          <span>(54)</span>
        </div>
        <div class="block-item">
          <input type="radio" class="rdo-category"><label for="category-1">Snacks</label>
          <span>(47)</span>
        </div>
        <div class="block-item">
          <input type="radio" class="rdo-category"><label for="category-1">Beverages</label>
          <span>(43)</span>
        </div>
        <div class="block-item">
          <input type="radio" class="rdo-category"><label for="category-1">Beaut & Health</label>
          <span>(38)</span>
        </div>
        <div class="block-item flex">
          <input type="radio" class="rdo-category"><label for="category-1">Bread & Bakery</label>
          <span>(15)</span>
        </div>
      </div>
      <div>
        
      </div>
    </aside>
  </div>

</section>
