<section>
  <div class="wrapper-products flex-col">
    <div class="flex justify-content-arround align-center">
      <button class="btn btn-filter">
        Filter <span class="icon icon-filter"></span></button>
      <div class="dropdown">Sort by:
        <button type="button" class="dropdown-toggle">Latest<span class="icon icon-drop-down">
          </span></button>
      </div>
      <div class="block-result">
        <span class="total-result">52</span> Results Found
      </div>
    </div>
    <div class="container-product">
      <aside>
        <div class="block-category">
          <div class="category-top">
            <h2 class="heading-secondary heading-secondary-mb">All Categories</h2>
            <span class="icon icon-top"></span>
          </div>
          <ul>
            <li class="block-item">
              <input type="radio" class="rdo-category"><label for="category-1"> Fresh Fruit</label>
              <span>(25)</span>
            </li>
            <li class="block-item">
              <input type="radio" class="rdo-category"><label for="category-1">Vegetables</label>
              <span>(150)</span>
            </li>
            <li class="block-item">
              <input type="radio" class="rdo-category"><label for="category-1">Cooking</label>
              <span>(54)</span>
            </li>
            <li class="block-item">
              <input type="radio" class="rdo-category"><label for="category-1">Snacks</label>
              <span>(47)</span>
            </li>
            <li class="block-item">
              <input type="radio" class="rdo-category"><label for="category-1">Beverages</label>
              <span>(43)</span>
            </li>
            <li class="block-item">
              <input type="radio" class="rdo-category"><label for="category-1">Beaut & Health</label>
              <span>(38)</span>
            </li>
            <li class="block-item">
              <input type="radio" class="rdo-category"><label for="category-1">Bread & Bakery</label>
              <span>(15)</span>
            </li>
          </ul>
        </div>
      </aside>
      <main>
        <div class="card-block">
          <!-- <article class="card-product">
            <img class="card-img" src="/src/assets/images/product/img_potatos.png">
            <div class="card-body">
              <div class="card-content">
                <h3 class="product-name">Big Potatoos</h3>
                <p class="product-price">$14.99</p>
              </div>
              <span class="border-circle">
                <span class="icon icon-bag"></span>
              </span>
            </div>
          </article>
          <article class="card-product">
            <img class="card-img" src="/src/assets/images/product/img_cabbage.png">
            <div class="card-body">
              <div class="card-content">
                <h3 class="product-name">Big Potatoos</h3>
                <p class="product-price">$14.99</p>
              </div>
              <span class="border-circle">
                <span class="icon icon-bag"></span>
              </span>
            </div>
          </article>
          <article class="card-product">
            <img class="card-img" src="/src/assets/images/product/img_finger.png">
            <div class="card-body">
              <div class="card-content">
                <h3 class="product-name">Big Potatoos</h3>
                <p class="product-price">$14.99</p>
              </div>
              <span class="border-circle">
                <span class="icon icon-bag"></span>
              </span>
            </div>
          </article>
          <article class="card-product">
            <img class="card-img" src="/src/assets/images/product/img_eggplant.png">
            <div class="card-body">
              <div class="card-content">
                <h3 class="product-name">Big Potatoos</h3>
                <p class="product-price">$14.99</p>
              </div>
              <span class="border-circle">
                <span class="icon icon-bag"></span>
              </span>
            </div>
          </article>
          <article class="card-product">
            <img class="card-img" src="/src/assets/images/product/img_cauliflower.png">
            <div class="card-body">
              <div class="card-content">
                <h3 class="product-name">Big Potatoos</h3>
                <p class="product-price">$14.99</p>
              </div>
              <span class="border-circle">
                <span class="icon icon-bag"></span>
              </span>
            </div>
          </article>
          <article class="card-product">
            <img class="card-img" src="/src/assets/images/product/img_apple.png">
            <div class="card-body">
              <div class="card-content">
                <h3 class="product-name">Big Potatoos</h3>
                <p class="product-price">$14.99</p>
              </div>
              <span class="border-circle">
                <span class="icon icon-bag"></span>
              </span>
            </div>
          </article>
          <article class="card-product">
            <img class="card-img" src="/src/assets/images/product/img_capsicum.png">
            <div class="card-body">
              <div class="card-content">
                <h3 class="product-name">Big Potatoos</h3>
                <p class="product-price">$14.99</p>
              </div>
              <span class="border-circle">
                <span class="icon icon-bag"></span>
              </span>
            </div>
          </article>
          <article class="card-product">
            <img class="card-img" src="/src/assets/images/product/img_chili.png">
            <div class="card-body">
              <div class="card-content">
                <h3 class="product-name">Big Potatoos</h3>
                <p class="product-price">$14.99</p>
              </div>
              <span class="border-circle">
                <span class="icon icon-bag"></span>
              </span>
            </div>
          </article>
          <article class="card-product">
            <img class="card-img" src="/src/assets/images/product/img_cucumber.png">
            <div class="card-body">
              <div class="card-content">
                <h3 class="product-name">Big Potatoos</h3>
                <p class="product-price">$14.99</p>
              </div>
              <span class="border-circle">
                <span class="icon icon-bag"></span>
              </span>
            </div>
          </article>
          <article class="card-product">
            <img class="card-img" src="/src/assets/images/product/img_littuce.png">
            <div class="card-body">
              <div class="card-content">
                <h3 class="product-name">Big Potatoos</h3>
                <p class="product-price">$14.99</p>
              </div>
              <span class="border-circle">
                <span class="icon icon-bag"></span>
              </span>
            </div>
          </article>
          <article class="card-product">
            <img class="card-img" src="/src/assets/images/product/img_ladies_finger.png">
            <div class="card-body">
              <div class="card-content">
                <h3 class="product-name">Big Potatoos</h3>
                <p class="product-price">$14.99</p>
              </div>
              <span class="border-circle">
                <span class="icon icon-bag"></span>
              </span>
            </div>
          </article>
          <article class="card-product">
            <img class="card-img" src="/src/assets/images/product/img_green_capsicum.png">
            <div class="card-body">
              <div class="card-content">
                <h3 class="product-name">Big Potatoos</h3>
                <p class="product-price">$14.99</p>
              </div>
              <span class="border-circle">
                <span class="icon icon-bag"></span>
              </span>
            </div>
          </article>
          <article class="card-product">
            <img class="card-img" src="/src/assets/images/product/img_red_chili.png">
            <div class="card-body">
              <div class="card-content">
                <h3 class="product-name">Big Potatoos</h3>
                <p class="product-price">$14.99</p>
              </div>
              <span class="border-circle">
                <span class="icon icon-bag"></span>
              </span>
            </div>
          </article>
          <article class="card-product">
            <img class="card-img" src="/src/assets/images/product/img_red_tomato.png">
            <div class="card-body">
              <div class="card-content">
                <h3 class="product-name">Big Potatoos</h3>
                <p class="product-price">$14.99</p>
              </div>
              <span class="border-circle">
                <span class="icon icon-bag"></span>
              </span>
            </div>
          </article>
          <article class="card-product">
            <img class="card-img" src="/src/assets/images/product/img_fressh_mango.png">
            <div class="card-body">
              <div class="card-content">
                <h3 class="product-name">Big Potatoos</h3>
                <p class="product-price">$14.99</p>
              </div>
              <span class="border-circle">
                <span class="icon icon-bag"></span>
              </span>
            </div>
          </article> -->
        </div>
        <div class="block-pagination">
          <a href="#" class="icon icon-chervon-down-left border-circle"></a>
          <a href="#" class="rounded">1</a>
          <a href="#" class="rounded">2</a>
          <a href="#" class="rounded">3</a>
          <a href="#" class="rounded">4</a>
          <a href="#" class="rounded">5</a>
          <a href="#" class="rounded">6</a>
          <a href="#" class="icon icon-chervon-down-right border-circle"></a>
        </div>
      </main>
    </div>
  </div>

</section>
