<footer>
  <div class="footer-top">
    <h2>Subcribe our Newsletter</h2>
    <p>Pellentesque eu nibh eget mauris congue mattis mattis nec tellus. Phasellus imperdiet elit eu magna.</p>
    <form class="form-input" action="" method="post" name="search">
      <div class="form-input-search">
        <input class="input-email" type="email" placeholder="Your email address">
      </div>
      <button type="submit" class="btn btn-search">Subscribe</button>
    </form>
  </div>
  <div class="footer-bottom">
    <a href="#" class="footer-logo">
      <img src="/src/assets/images/header/logo.png" alt="logo">
      <h1 class="name-logo">Ecobaza</h1>
    </a>
    
  </div>
</footer>
