<header>
  <div class="header-top">
    <a href="#" class="flex link header-left ">
      <span class="icon icon-location"></span>
      Store Location: Lincoln- 344, Illinois, Chicago, USA
    </a>
    <div class="header-right flex">
      <div class="link">
        Eng
        <span class="icon icon-drop-down"></span>
        USD
        <span class="icon icon-drop-down"></span>
      </div>
      <div>
        <a class="link" href="#">Sign In</a> /
        <a class="link" href="#">Sign Up</a>
      </div>
    </div>
  </div>
  <div class="header-bottom">
    <a href="#" class="header-logo">
      <img src="/src/assets/images/header/logo.png" alt="logo">
      <h1 class="name-logo">Ecobaza</h1>
    </a>
    <form class="form-input" action="" method="post" name="search">
      <div class="form-input-search">
        <span class="icon icon-search icon-search-absolute"></span>
        <input class="input-search" type="text" placeholder="Search">
      </div>
      <button type="submit">Search</button>
    </form>
    <div>
      <span class="icon icon-heart"></span>
      <span class="icon icon-cart"></span>
    </div>
  </div>

</header>